<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
  </head>
  <body>
    <div id="app">
      <v-app>
        <div class="d-flex justify-center mb-9">
          <h1 style="padding-top: 20px">Lista de Contatos</h1>
        </div>
        <div>
          <v-main>
            <div>
              <v-row justify="center">
                <v-btn color="success" dark @click.stop="dialog = true">
                  Adicionar
                </v-btn>
                <v-dialog
                  v-model="dialog"
                  slot="activator"
                  max-width="290"
                  ref="myModel"
                >
                  <v-card>
                    <v-card-title class="text-h5"> Novo Contato </v-card-title>
                    <v-card-text>
                      <v-text-field
                        label="Nome de Contato"
                        ref="name"
                        placeholder="ex..joão"
                        filled
                        rounded
                        dense
                        v-model="contact.name"
                        :rules="[
                        () => !!contact.name || 'Este campo é obrigatório',
                        (value) =>contact.name.split(' ').every(val => val.length >= 3) 
                        || 'Este campo deve ter mais de três letras'                      
                        ]"
                        required
                      ></v-text-field>
                      <v-text-field
                        v-mask="'(##)#####-######'"
                        ref="telephone"
                        label="Telefone"
                        id="telefone"
                        placeholder="ex..8899731"
                        filled
                        rounded
                        dense
                        v-model="contact.telephone"
                        :rules="[											
												() => !!contact.telephone || 'Este campo é obrigatório',
												() => !!contact.telephone && contact.telephone.length <= 16,]                                             
                        "
                        :maxlength="max"
                        counter="16"
                        required
                      ></v-text-field>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn
                        color="green darken-1"
                        text
                        @click="dialog = false"
                        typ
                      >
                        Sair
                      </v-btn>
                      <v-btn
                        color="green darken-1"
                        text
                        @click="add(), dialog = false"
                      >
                        Cadastrar
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-row>
            </div>
            <div style="padding-top: 20px">
              <v-simple-table>
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th scope="col" class="text-center">#</th>
                      <th scope="col" class="text-center">Nome</th>
                      <th scope="col" class="text-center">Telefone</th>
                      <th scope="col" class="text-center">Ação</th>
                    </tr>
                  </thead>
                  <tbody id="nameContact">
                    <tr v-for="item in list">
                      <th scope="row" class="text-center">{{ item.id }}</th>
                      <td class="text-center">{{ item.name }}</td>
                      <td class="text-center">{{ item.telephone }}</td>
                      <td align="center">
                        <v-btn
                          @click="edit(item)"
                          @click.stop="dialog = true"
                          class="btn btn-info"
                          color="primary"
                        >
                          Editar
                        </v-btn>
                        <v-btn @click="remove()" color="error"> Excluir </v-btn>
                      </td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </div>
          </v-main>
        </div>
        <div style="padding-top: 15%">
          <v-footer padless class="d-flex justify-center">
            <v-card flat tile class="indigo lighten-1 white--text text-center">
              <v-card-text> </v-card-text>
              <v-card-text class="white--text pt-0">
                Este pequeno projeto é destinado à vaga de desenvolvedor junior
                na empresa,
                <strong
                  ><a
                    style="text-decoration: none; color: white"
                    href="https://www.portlouis.inf.br/index.html"
                    target="blank"
                    >PORT LOUIS</a
                  ></strong
                >
                aqui foram usados os frameworks VueJS e Vuetify-Material Design
                Framework. Tendo em vista o desafio e a oportunidade dada, fico
                extremamente feliz em realiza-lo.
                <br />
              </v-card-text>
              <v-divider></v-divider>
              <v-card-text class="white--text">
                {{ new Date().getFullYear() }} — <strong>Joathã Andrade</strong>
              </v-card-text>
            </v-card>
          </v-footer>
        </div>
      </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/v-mask/dist/v-mask.min.js"></script>

    <script>
      Vue.use(VueMask.VueMaskPlugin),
        new Vue({
          el: "#app",
          vuetify: new Vuetify(),
          data: {
            dialog: false,
            max: 16,
            contact: {
              id: 0,
              name: null,
              telephone: null,
            },
            index: null,
            list: [],
          },
          mounted() {
            const contacts = JSON.parse(localStorage.getItem("contacts"));
            this.list = contacts ? contacts : [];
          },
          methods: {
            add() {
              if (
                (this.contact.name === null) |
                (this.contact.telephone === null)
              ) {
                alert("Você não pode cadastrar com campos em branco!!!");
                return false;
              }
              if (this.contact.id === 0) {
                this.contact.id = this.list.length + 1;
                this.list.push(this.contact);
              } else {
                this.list[this.index] = this.contact;
              }
              localStorage.setItem("contacts", JSON.stringify(this.list));
              this.contact = { id: 0, name: null, telephone: null };
            },
            remove(item) {
              const idx = this.list.indexOf(item);
              this.list.splice(idx, 1);
              localStorage.setItem("contacts", JSON.stringify(this.list));
            },
            edit(item) {
              this.index = this.list.indexOf(item);
              this.contact = Object.assign({}, item);
              localStorage.setItem("contacts", JSON.stringify(this.list));
            },
          },
        });
    </script>
  </body>
</html>
